## Deliverable 3. Create a Travel Itinerary Map.

In [9]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [10]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("WeatherPy_vacation.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,0,Castro,BR,54.27,clear sky,-24.7911,-50.0119,CHACARA BAILLY
1,2,Nemuro,JP,63.05,overcast clouds,43.3236,145.5750,Hotel Nemuro Kaiyoutei
2,5,Busselton,AU,54.05,light rain,-33.6500,115.3333,Observatory Guest House
3,6,Rosetown,CA,60.78,overcast clouds,51.5501,-108.0014,Travelodge by Wyndham Rosetown
4,15,Carnarvon,AU,69.87,broken clouds,-24.8667,113.6333,Hospitality Carnarvon

In [15]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
ci_co_we = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [16]:
# 4a. Add a marker layer for each city to the map.
max_temp = vacation_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=ci_co_we)
fig.add_layer(marker_layer)
# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [29]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[(vacation_df["City"] == "Hoquiam")]
vacation_end = vacation_df.loc[(vacation_df["City"] == "Hoquiam")]
vacation_stop1 = vacation_df.loc[(vacation_df["City"] == "Astoria")]
vacation_stop2 = vacation_df.loc[(vacation_df["City"] == "Portland")] 
vacation_stop3 = vacation_df.loc[(vacation_df["City"] == "La Grande")]
vacation_start

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
202,611,Hoquiam,US,60.78,overcast clouds,46.9809,-123.8893,Econo Lodge Inn & Suites

In [70]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = vacation_start.to_numpy()
hoquiam_s = start[0,[5,6]]

end = vacation_end.to_numpy()
hoquiam_e = end[0,[5,6]]

stop1 = vacation_stop1.to_numpy()
astoria = stop1[0,[5,6]]

stop2 = vacation_stop2.to_numpy()
portland = stop2[0,[5,6]]

stop3 = vacation_stop3.to_numpy()
la_grande = stop3[0,[5,6]]

In [73]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
import gmaps.datasets

fig = gmaps.figure()
pacwest_trip = gmaps.directions_layer(
        hoquiam_s, hoquiam_e, waypoints=[astoria, portland, la_grande],
        travel_mode='DRIVING')
fig.add_layer(pacwest_trip)
fig

# Code researced and significant portions utilized from https://jupyter-gmaps.readthedocs.io/en/latest/tutorial.html#directions-layer

Figure(layout=FigureLayout(height='420px'))

In [77]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start, vacation_stop1, vacation_stop2, vacation_stop3],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,611,Hoquiam,US,60.78,overcast clouds,46.9809,-123.8893,Econo Lodge Inn & Suites
1,101,Astoria,US,61.02,overcast clouds,46.1879,-123.8313,Best Western Astoria Bayfront Hotel
2,681,Portland,US,64.63,overcast clouds,45.5234,-122.6762,Embassy Suites by Hilton Portland Downtown
3,658,La Grande,US,70.00,overcast clouds,45.3246,-118.0877,Travelodge by Wyndham La Grande

In [78]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [101]:
# 11a. Add a marker layer for each city to the map.
locations = itinerary_df[["Lat", "Lng"]]
max_temp = itinerary_df["Max Temp"]
fig = gmaps.figure(center=(46.2024, -121.491), zoom_level=7.0)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))